@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
//override variable from react-pro-sidebar
$sidebar-bg-color: #1d1d1d;
$sidebar-width: 300px;
$icon-bg-color: rgb(43, 0, 255);
// import
@import "~react-pro-sidebar/dist/scss/styles.scss";

$submenu-bg-color: rgba(0, 17, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;

$icon-size: 35px;
.admin-container {
  width: 100%;

  display: flex;
  .admin-sidebar {
    .sidebar-container {
      height: 100%;
      .pro-sidebar {
        height: 100%;
        .pro-sidebar-inner {
        }
      }
    }
  }
  .admin-content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    .admin-header {
      height: 40px;
    }
    .admin-main {
      width: 100%;
      height: calc(100vh - 40px);
      button.btn {
        &:hover {
          animation: pulse 1s infinite;
        }
      }
      .pagination{
            justify-content: center;
      }
      .action{
        display: flex;
        justify-content: center;
      }
    }
  }
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  height: 100vh;
}
.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .sidebar-btn {
    transition: width 0.3s;
    width: 150px;
    padding: 1px 15px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.05);
    color: #adadad;
    text-decoration: none;
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      margin-left: 5px;
      font-size: 13px;
    }
    &:hover {
      color: $highlight-color;
    }
  }
}
