.manage-question-container {
    .icon-question{
        cursor: pointer;
        position: relative;
        bottom:6px;
    }
 .select-quiz{
    position: relative;
 }
  .form-label {
    position: relative;
    z-index: 999999;
  }
  .answer-container {
    position: relative;
    left: 120px;
    .form-check-input {
      position: relative;
      bottom: 5px;
    }
    .answer-add-new-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon-container {
        position: relative;
        bottom: 10px;

        .icon {
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  padding: 15px;
  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .manage-question-add-new {
    .form-label {
    }
  }
  .form-add-new-wrapper {
    z-index: -99999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .icon-wrapper {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: flex-start;
      .question-image-upload {
        position: relative;
        bottom: 10px;
        .image-upload-icon{

          &:hover{
            color: orange;
          }
        }
        .image-text-hover{
          margin-left: 5px;
          cursor: pointer;
          &:hover{
            color:orange;
          }
        }
      }
      .icon-container {
        position: relative;
        bottom: 10px;

        .icon {
          
          cursor: pointer;
          &:hover {
            opacity: 0.7;
            animation: pulse 1s infinite;
          }
        }
      }
    }
  }
}
